@import "tailwindcss";

@source "../../app/Views/**/*.php";

@font-face {
	font-family: "Chulabhorn Likit";
	src: url("../fonts/ChulabhornLikitText-Regular.otf");
	font-weight: normal;
}

@font-face {
	font-family: "Chulabhorn Likit";
	src: url("../fonts/ChulabhornLikitText-Bold.otf");
	font-weight: bold;
}

@font-face {
	font-family: "Chulabhorn Likit";
	src: url("../fonts/ChulabhornLikitText-Light.otf");
	font-weight: lighter;
}

@font-face {
	font-family: "Chulabhorn Likit Display";
	src: url("../fonts/ChulabhornLikitDisplay-Medium.otf");
	font-weight: normal;
}

body {
	font-family: "Chulabhorn Likit", sans-serif;
  background-color: #f3f4f6;
	font-size: 1rem;
}

/* Custom Scrollbar for Sidebar */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  /* background: #f1f1f1; */
  background: var(--color-gray-100);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  /* background: #cbd5e1; */
	background: var(--color-emerald-200);
  border-radius: 3px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  /* background: #94a3b8; */
	background: var(--color-emerald-500);
}