@import "tailwindcss";

@source "../../app/Views/**/*.php";

@use "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css";

@font-face {
	font-family: "Chulabhorn Likit";
	src: url("../fonts/ChulabhornLikitText-Regular.otf");
	font-weight: normal;
}

@font-face {
	font-family: "Chulabhorn Likit";
	src: url("../fonts/ChulabhornLikitText-Bold.otf");
	font-weight: bold;
}

@font-face {
	font-family: "Chulabhorn Likit";
	src: url("../fonts/ChulabhornLikitText-Light.otf");
	font-weight: lighter;
}

@font-face {
	font-family: "Chulabhorn Likit Display";
	src: url("../fonts/ChulabhornLikitDisplay-Medium.otf");
	font-weight: normal;
}